<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
</head>

<body>
    <p>Hi! {{userData}}</p>
    <p>Click the following link to forgot your password:</p>
    <a href="{{verifyUrl}}">{{verifyUrl}}</a>
</body>

</html>