<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
</head>

<body>
    <p>Hi! {{userData}}</p>
    <p>Click the following link to reset your password:</p>
    <a href="{{verifyUrl}}">{{verifyUrl}}</a>
</body>

</html>