<!DOCTYPE html>
<html>

<head>
    <title>Email Verification</title>
</head>

<body>
    <p>Hi! {{userData}}</p>
    <p>Click the following link to verify your account:</p>
    <a href="{{verifyUrl}}">{{verifyUrl}}</a>
</body>

</html>